body {
  font-family: Arial, sans-serif;
  background-color: gray;
}

main {
  padding: 0 50rem;
}

nav {
  width: 100%;
  background-color: darkolivegreen;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;

  a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 0;
    width: 100%;
    text-align: center;

    &:hover {
      color: gray;
    }
  }
}